<div class="card-header card-header-theme">
  Recent Questions Asked
</div>
<div class="card-body">
    <div class="card mb-3 shadow card-theme">
      <div class="card-header card-header-theme">
          Some questions
      </div>
      <div class="card-body">
        <ul>
          <li>Some answer</li>
          <li>Some other answer</li>
        </ul>
      </div>
      <div class="card-header card-header-theme">
          Some questions
      </div>
      <div class="card-body">
        <ul>
          <li>Some answer</li>
          <li>Some other answer</li>
        </ul>
      </div>
    </div>
</div>